# Node modules
node_modules/

packages/example/client
packages/example/.env
.turbo
packages/react/mindfiredigital-page-builder-react-1.2.3.tgz
packages/web-component/mindfiredigital-page-builder-web-component-3.0.0.tgz
packages/core/mindfiredigital-page-builder-1.6.0.tgz